<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NTCC ASSIGNMENT</title>
  </head>
  <body>
    <h1>Add new product</h1>
    <div class="col-sm-2">
    <%= form_for @newProducts, class: 'form-group', url: {action: "create"} do |f| %>

      <%= f.text_field :name, :value => 'Name', class: 'form-control' %>
      <br><br>
      <%= f.text_area :description, size: "60x12", class: 'form-control' %>
      <br><br>
      <%= f.submit "Create", class: 'btn btn-primary' %>

    <% end %>
    <br><br>
    <h1>List of Products:</h1>
    <% @products.each do |product| %>
      <h3> <%= product.name %> </h3>
      <p><%= product.description %></p>
    <% end %>
    </div>
  </body>
</html>
